<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/navbar.css">
        <link rel="stylesheet" href="../public/calendar.css">
        <title>Task Wizard</title>
    </head>
    <body>
        <div class="navbar">
            <div class="container nav">
                <input class="checkbox" id="" type="checkbox"
                name=""
                />
                <div class="lines"
                >
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
                <a href="/home" class="logo">
                    <h1>Task Wizard</h1>
                </a>
                <div class="menu">
                    <li class="links">
                        <a href="/home">Home</a>
                    </li>    
                    <li class="links">
                        <a href="/week">Week</a>
                    </li>
                    <li class="links">
                        <a href="/settings">Settings</a>
                    </li>
                </div>
            </div>
        </div>
    </body>
</html>