*{
    margin: 0;
    padding: 50;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-bottom: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
}

.navbar {
width: 100%;
box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
margin-bottom: 150px;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
height: 62px;
}

.navbar .menu {
display: flex;
}

.navbar .nav li {
list-style: none;
}

.navbar .nav a {
text-decoration: none;
color: #0e2431;
font-weight: 500;
font-size: 1.2rem;
padding: 0.7rem;
}

.navbar .nav a:hover{
    font-weight: bolder;
}

.nav {
display: block;
position: relative;
height: 60px;
}

.nav .checkbox {
position: absolute;
display: block;
height: 32px;
width: 32px;
top: 25px;
left: 20px;
z-index: 5;
opacity: 0;
cursor: pointer;
}

.nav .lines {
display: block;
height: 26px;
width: 32px;
position: absolute;
top: 25px;
left: 20px;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.nav .lines .line {
display: block;
height: 4px;
width: 100%;
border-radius: 10px;
background: #0e2431;
}

.nav .lines .line1 {
transform-origin: 0% 0%;
transition: transform 0.4s ease-in-out;
}

.nav .lines .line2 {
transition: transform 0.2s ease-in-out;
}

.nav .lines .line3 {
transform-origin: 0% 100%;
transition: transform 0.4s ease-in-out;
}

.navbar .menu {
padding-top: 120px;
box-shadow: inset 0 0 2000px #6DD5FA;
height: 100vh;
width: 100%;
transform: translate(-150%);
display: flex;
flex-direction: column;
transition: transform 0.5s ease-in-out;
text-align: center;
}

.navbar .menu li {
margin-bottom: 1.2rem;
font-size: 1.5rem;
font-weight: 500;
}

.logo {
position: absolute;
top: 5px;
right: 15px;
font-size: 1.2rem;
color: #000000;
font-family: 'Bebas Neue', cursive;
}

.nav input[type="checkbox"]:checked ~ .menu {
transform: translateX(0);
}

.nav input[type="checkbox"]:checked ~ .lines .line1 {
transform: rotate(45deg);
}

.nav input[type="checkbox"]:checked ~ .lines .line2 {
transform: scaleY(0);
}

.nav input[type="checkbox"]:checked ~ .lines .line3 {
transform: rotate(-45deg);
}

.nav input[type="checkbox"]:checked ~ .logo{
display: none;
}
