
body {
        background: #2980B9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #94e2ff, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #94e2ff, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    .taskContainer {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .task {
    width: 400px;
    }
    .taskContainer h2 {
    margin-top: -100px;
    margin-bottom: 50px;
    padding: 30px;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    }
    .task-header input {
    width: 90%;
    border: none;
    border-radius: 5px;
    height: 30px;
    }
    .task-header button {
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    box-shadow: 0 1px 2px gray;
    transition: all 0.2s ease;
    background-color: rgb(13, 233, 27);
    justify-content: flex-end;
    }
    .taskContainer ul {
    list-style: none;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 44px;
    }
    .taskLi-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    }
    .taskLi-item form {
    display: flex;
    }
    .taskLi-item input {
    flex-grow: 2;
    margin-right: 20px;
    border-radius: 5px;
    }
    .taskLi-item button {
    color: white;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(51, 212, 100);
    width: 25px;
    height: 25px;
    }
    .taskLi-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    font-size: .76rem;
    }
    .taskLi-item .sbmt{
        width: 80px;
        border-radius: 10%;
    }
    .taskLi-item div {
    flex-grow: 2;
    }
    .taskLi-item .edit {
    color : rgb(143, 233, 58);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
    }
    .taskLi-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    }
    #editBtn {
        width: 25px;
        height: 25px;
        padding: 5px;
    }
    #btns{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    .createInput{
        display: flex;
        justify-content: flex-end;
    }
    .task-header{
        display: flex;
        justify-content: space-around;
    }